/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

* {
  margin: 0;
  padding: 0;
}

//les marges et les padding ne sont pas ajoutés aux tailles définies pour les divs//
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

$ama:Amatic SC;
$default: 2em;
$noir: #000;
$violet: slateblue;
$titre: 1.2em;

body {
  font-family: $ama, Geneva, Arial, sans-serif;
  font-size: $default;
  color: $noir;
  background-color: lavender;
  background-image: url(../images/background.png);
  background-repeat: repeat;
  background-size:40vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

//--------------------//COMPUTER SIZE//---------------------------//

.tuiles {
    width: 100vw;
    height: 110vh;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: flex-start;
    position: relative;
}


//-------------------//BACKGROUND//---------------------------//

.back {
    position: absolute;
    z-index: -1;
}

.container {
    width: 48vw;
    height: 90vh;
    top: 5vh;
    right: 5vw;
    color: $noir;
    background-color: white;
    border-radius: 5%;
}

.photoProfil {
    shape-outside: circle(); 
    border-radius: 50%;
    background-color: lavender;
    margin: auto;
    top: 4vh;
    left: 0;
    right: 0;
}

.texte {
    margin-top:0.5em;
    margin-left:0;
    margin-right:0;
    margin-bottom:0;
    top: 22vh;
    left: 0;
    right: 0;
    text-align: center;
    line-height: 0.8em;
}

.texteColor {
    color: $violet;
}

.texteSmall {
    top: 45vh;
}

.texteSkills {
    top: 73vh;
    color: $violet;
}

//-------------------//FOREGROUND//---------------------------//

.foreground {
    position: absolute;
    z-index: 1;
}

.logo {
    width: 4.5vw;
    height: auto;
    top: 2vh;
    left: 1vw;
}

.logo:hover {
    cursor: pointer;
}

.title {
    font-size: $titre;
    color: $violet;
    top: 2vh;
    left: 8vw;
}

.contact {
    top: 9vh;
    left: 8vw; 
}

.animContact:hover {
    animation: bounce 0.1s ease infinite alternate;
}

@keyframes bounce {
  from {transform: translateY(0);}
     to   {transform: translateY(20px);}
}

.infos {
    top: 15vh;
    left: 8vw;
}

a {
    text-decoration: none;
    color: $noir;
    border: solid 1px $noir;
    padding-right: 0.2vw;
    padding-left: 0.2vw;
    top: 24vh;
    left: 8vw;
}

a:hover {
    background-color: $violet;
    border: solid 1px $violet;
}

.subtitle {
    font-size: $titre;
    color: $violet;
    left: 28vw;
}

.subtitleBis {
    @extend .logo:hover;
    font-size: $titre;
    color: $violet;
}

.souris {
    top: 37vh;
    left: 33vw;
}

.animSouris:hover {
    animation: translate 0.3s ease;
}

@keyframes translate {
    from {transform: translateX(0);}
     to   {transform: translateX(-20px);}
}

.bubbles {
    width: 5vw;
    height: auto;
    bottom: 34vh;
    right: 16vw;
}

#bubbleHidden {
    display: none;
}

#bubbleHidden {
    cursor: pointer;
}

.tuile {
    width: 25vw;
    height: 36vh;
    background-color: navajowhite;
    transition: all 1s;
}

.tuile:hover {
     transform: rotate(random(2)+deg);
    -webkit-transform: rotate(random(2)+deg);
    -moz-transform: rotate(random(2)+deg);
    -ms-transform: rotate(random(2)+deg);
}

@keyframes apparition {
 from {
    opacity:0;
}to {
    opacity:1;
}
}

.tuile1 {
   animation: apparition 0.1s;
  -moz-animation: apparition 0.1s;
  -webkit-animation: apparition 0.1s;
  -o-animation: apparition 0.1s;
}

.tuile2 {
    animation: apparition 0.2s;
  -moz-animation: apparition 0.2s;
  -webkit-animation: apparition 0.2s;
  -o-animation: apparition 0.2s;
}

.tuile3 {
      animation: apparition 0.3s;
  -moz-animation: apparition 0.3s;
  -webkit-animation: apparition 0.3s;
  -o-animation: apparition 0.3s;
}

.tuile4 {
    animation: apparition 0.4s;
  -moz-animation: apparition 0.4s;
  -webkit-animation: apparition 0.4s;
  -o-animation: apparition 0.4s;
}

.tuile5 {
    animation: apparition 0.5s;
  -moz-animation: apparition 0.5s;
  -webkit-animation: apparition 0.5s;
  -o-animation: apparition 0.5s;
}

.tuile6 {
      animation: apparition 0.6s;
  -moz-animation: apparition 0.6s;
  -webkit-animation: apparition 0.6s;
  -o-animation: apparition 0.6s;
}

.tuile7 {
      animation: apparition 0.7s;
  -moz-animation: apparition 0.7s;
  -webkit-animation: apparition 0.7s;
  -o-animation: apparition 0.7s;
}

.tuile8 {
    animation: apparition 0.8s;
  -moz-animation: apparition 0.8s;
  -webkit-animation: apparition 0.8s;
  -o-animation: apparition 0.8s;
}

.tuile9 {
    animation: apparition 0.9s;
  -moz-animation: apparition 0.9s;
  -webkit-animation: apparition 0.9s;
  -o-animation: apparition 0.9s;
}

.tuile10 {
    animation: apparition 1s;
  -moz-animation: apparition 1s;
  -webkit-animation: apparition 1s;
  -o-animation: apparition 1s;
}

.tuile11 {
    animation: apparition 1.1s;
  -moz-animation: apparition 1.1s;
  -webkit-animation: apparition 1.1s;
  -o-animation: apparition 1.1s;
}

.tuile12 {
    animation: apparition 1.2s;
  -moz-animation: apparition 1.2s;
  -webkit-animation: apparition 1.2s;
  -o-animation: apparition 1.2s;
}