/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/screen.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 14, ../sass/screen.scss */
html {
  box-sizing: border-box;
}

/* line 17, ../sass/screen.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 27, ../sass/screen.scss */
body {
  font-family: Amatic SC, Geneva, Arial, sans-serif;
  font-size: 2em;
  color: #000;
  background-color: lavender;
  background-image: url(../images/background.png);
  background-repeat: repeat;
  background-size: 40vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* line 42, ../sass/screen.scss */
.tuiles {
  width: 100vw;
  height: 110vh;
  display: inline-flex;
  flex-wrap: wrap;
  align-content: flex-start;
  position: relative;
}

/* line 54, ../sass/screen.scss */
.back {
  position: absolute;
  z-index: -1;
}

/* line 59, ../sass/screen.scss */
.container {
  width: 48vw;
  height: 90vh;
  top: 5vh;
  right: 5vw;
  color: #000;
  background-color: white;
  border-radius: 5%;
}

/* line 69, ../sass/screen.scss */
.photoProfil {
  shape-outside: circle();
  border-radius: 50%;
  background-color: lavender;
  margin: auto;
  top: 4vh;
  left: 0;
  right: 0;
}

/* line 79, ../sass/screen.scss */
.texte {
  margin-top: 0.5em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  top: 22vh;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 0.8em;
}

/* line 91, ../sass/screen.scss */
.texteColor {
  color: slateblue;
}

/* line 95, ../sass/screen.scss */
.texteSmall {
  top: 45vh;
}

/* line 99, ../sass/screen.scss */
.texteSkills {
  top: 73vh;
  color: slateblue;
}

/* line 106, ../sass/screen.scss */
.foreground {
  position: absolute;
  z-index: 1;
}

/* line 111, ../sass/screen.scss */
.logo {
  width: 4.5vw;
  height: auto;
  top: 2vh;
  left: 1vw;
}

/* line 118, ../sass/screen.scss */
.logo:hover, .subtitleBis {
  cursor: pointer;
}

/* line 122, ../sass/screen.scss */
.title {
  font-size: 1.2em;
  color: slateblue;
  top: 2vh;
  left: 8vw;
}

/* line 129, ../sass/screen.scss */
.contact {
  top: 9vh;
  left: 8vw;
}

/* line 134, ../sass/screen.scss */
.animContact:hover {
  animation: bounce 0.1s ease infinite alternate;
}

@keyframes bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(20px);
  }
}
/* line 143, ../sass/screen.scss */
.infos {
  top: 15vh;
  left: 8vw;
}

/* line 148, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #000;
  border: solid 1px #000;
  padding-right: 0.2vw;
  padding-left: 0.2vw;
  top: 24vh;
  left: 8vw;
}

/* line 158, ../sass/screen.scss */
a:hover {
  background-color: slateblue;
  border: solid 1px slateblue;
}

/* line 163, ../sass/screen.scss */
.subtitle {
  font-size: 1.2em;
  color: slateblue;
  left: 28vw;
}

/* line 169, ../sass/screen.scss */
.subtitleBis {
  font-size: 1.2em;
  color: slateblue;
}

/* line 175, ../sass/screen.scss */
.souris {
  top: 37vh;
  left: 33vw;
}

/* line 180, ../sass/screen.scss */
.animSouris:hover {
  animation: translate 0.3s ease;
}

@keyframes translate {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-20px);
  }
}
/* line 189, ../sass/screen.scss */
.bubbles {
  width: 5vw;
  height: auto;
  bottom: 34vh;
  right: 16vw;
}

/* line 196, ../sass/screen.scss */
#bubbleHidden {
  display: none;
}

/* line 200, ../sass/screen.scss */
#bubbleHidden {
  cursor: pointer;
}

/* line 204, ../sass/screen.scss */
.tuile {
  width: 25vw;
  height: 36vh;
  background-color: navajowhite;
  transition: all 1s;
}

/* line 211, ../sass/screen.scss */
.tuile:hover {
  transform: rotate(1deg);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -ms-transform: rotate(1deg);
}

@keyframes apparition {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* line 226, ../sass/screen.scss */
.tuile1 {
  animation: apparition 0.1s;
  -moz-animation: apparition 0.1s;
  -webkit-animation: apparition 0.1s;
  -o-animation: apparition 0.1s;
}

/* line 233, ../sass/screen.scss */
.tuile2 {
  animation: apparition 0.2s;
  -moz-animation: apparition 0.2s;
  -webkit-animation: apparition 0.2s;
  -o-animation: apparition 0.2s;
}

/* line 240, ../sass/screen.scss */
.tuile3 {
  animation: apparition 0.3s;
  -moz-animation: apparition 0.3s;
  -webkit-animation: apparition 0.3s;
  -o-animation: apparition 0.3s;
}

/* line 247, ../sass/screen.scss */
.tuile4 {
  animation: apparition 0.4s;
  -moz-animation: apparition 0.4s;
  -webkit-animation: apparition 0.4s;
  -o-animation: apparition 0.4s;
}

/* line 254, ../sass/screen.scss */
.tuile5 {
  animation: apparition 0.5s;
  -moz-animation: apparition 0.5s;
  -webkit-animation: apparition 0.5s;
  -o-animation: apparition 0.5s;
}

/* line 261, ../sass/screen.scss */
.tuile6 {
  animation: apparition 0.6s;
  -moz-animation: apparition 0.6s;
  -webkit-animation: apparition 0.6s;
  -o-animation: apparition 0.6s;
}

/* line 268, ../sass/screen.scss */
.tuile7 {
  animation: apparition 0.7s;
  -moz-animation: apparition 0.7s;
  -webkit-animation: apparition 0.7s;
  -o-animation: apparition 0.7s;
}

/* line 275, ../sass/screen.scss */
.tuile8 {
  animation: apparition 0.8s;
  -moz-animation: apparition 0.8s;
  -webkit-animation: apparition 0.8s;
  -o-animation: apparition 0.8s;
}

/* line 282, ../sass/screen.scss */
.tuile9 {
  animation: apparition 0.9s;
  -moz-animation: apparition 0.9s;
  -webkit-animation: apparition 0.9s;
  -o-animation: apparition 0.9s;
}

/* line 289, ../sass/screen.scss */
.tuile10 {
  animation: apparition 1s;
  -moz-animation: apparition 1s;
  -webkit-animation: apparition 1s;
  -o-animation: apparition 1s;
}

/* line 296, ../sass/screen.scss */
.tuile11 {
  animation: apparition 1.1s;
  -moz-animation: apparition 1.1s;
  -webkit-animation: apparition 1.1s;
  -o-animation: apparition 1.1s;
}

/* line 303, ../sass/screen.scss */
.tuile12 {
  animation: apparition 1.2s;
  -moz-animation: apparition 1.2s;
  -webkit-animation: apparition 1.2s;
  -o-animation: apparition 1.2s;
}
